body {
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.root {
    font-family: sans-serif;
    padding: 1.75rem 2rem;
    border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    -o-border-radius: 32px;
    background: white;
    height: 50vh;
    width: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.timer--part {
    font-size: 3rem;
    font-weight: 600;
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.timer--btn {
    width: 75px;
    height: 75px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}

.timer--start-before {
    background: #28aa14;
    color: white;
}

.timer--start-before > span {
    font-size: 2.5rem;
}



.timer--reset-before {
    color: white;
    background: purple;
}

.timer--reset-before > span {
    font-size: 2.5rem;
}



.timer--start-after {
    background: #f60000;
    color: white;
}

.timer--start-after > span {
    font-size: 2.5rem;
}
